@import "tailwindcss";

*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    box-sizing: border-box;

}


body {
    background-color: black;
    color: #fff;
    position: relative;
    overflow-x: hidden;
    font-family: "Urbanist", serif;
    margin: 0;
    min-height: 100%;
    padding-bottom: 5rem;
    box-sizing: inherit;
}

/* CSS for header section starts */

nav {
    background-color: #000;
    top: 0%;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    position: static;
}


nav h1 {
    font-size: 3rem;
    font-weight: 900;
}

nav .menu {
    display: none;
    position: absolute;
    top: 33px;
    right: 30px;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

nav .menu span {
    height: .4rem;
    width: 100%;
    background-color: #fff;
    border-radius: .2rem;
}


.menuItems {
    display: flex;
}


.menuItems li {
    margin: 0 2rem;
    position: relative;
    padding-bottom: 1px;
    width: fit-content;
}


.menuItems li a {
    color: #ffffffb6;
    transition: all .3s ease;
    padding-bottom: 4px;
    font-size: 2rem;
    font-weight: 700;
}

.menuItems li a:hover {
    color: #ffffffe7;
}


.menuItems li:before {
    position: absolute;
    bottom: 0%;
    content: '';
    height: 4px;
    width: 0%;
    background-color: #fff;
    transition: all .3s ease;
}

.menuItems li:hover::before {
    width: 100%;
}

.active {
    color: #fff;
    transition: all .3s ease;
    transition: all .3s ease;
    padding-bottom: 4px;
    position: relative;
}

.active::before {
    position: absolute;
    bottom: 0%;
    content: '';
    height: 4px;
    width: 100%;
    background-color: red;
    animation: fill .5s ease forwards;
}

@keyframes fill {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* CSS for header section ends */




/* CSS for Main Page starts */

.movieContainer {
    color: #ffffffb3;
    height: 100%;


    h1 {
        padding: 0 1rem;
        font-size: 2rem;
        background-color: #333;
        width: fit-content;
        margin-left: 1rem;
        padding-right: 3rem;
        border-right: 10px solid red;
        border-radius: 5px;
        margin-top: 2rem;
    }
}


.moviesPage {
    height: max-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    margin: auto;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 1rem;
}

.movieCardsPage {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    flex-direction: column;
    background-color: #111;
    border-radius: 10px;
}

.movieCardsPage a {
    height: 90%;
}

.movieCardsPage img {
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: all .15s;
}

.movieCardsPage img:hover {
    transition: all .45s ease .7s;
    transform: scale(1.2);
    z-index: 10;
}


.contentDetails {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;

    & h1 {
        font-size: 4rem;
        color: #fff;
    }
}

/* CSS for Movies Page ends */

/* CSS for movies selected starts  */


.selectedPage {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.poster {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster img {
    border-radius: 5px;
}

.data {
    width: 100%;
}

.basedata {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    place-items: centre;
    max-width: 600px;
    padding: 2rem 0;
}

.basedataContent {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    word-break: keep-all;
    gap: 1rem;
}





.goBackBtn {
    font-size: 1.8rem;
    background-image: linear-gradient(45deg, rgb(202, 1, 1), rgba(240, 4, 4, 0.397));
    color: #bbb;
    font-weight: 900;
    width: fit-content;
    padding: .6rem 1.5rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s ease;
    border: 1px solid #bbb;
}

.goBackBtn::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #111;
    left: 0%;
    bottom: 0%;
    z-index: 1;
    transition: width 0.3s ease;
    /* Add transition for smooth animation */
}

.goBackBtn span {
    position: relative;
    z-index: 2;
    /* Keep the text above the ::before pseudo-element */
}

.goBackBtn:hover::before {
    width: 100%;
}

.goBackBtn:hover {
    color: #bbb;
    box-shadow: -10px 0px 1000px 10px skyblue, 100px 0px 100px 10px rgb(202, 1, 1);
    border-radius: 30px;
    border: 1px solid rgb(202, 1, 1);
}

.dramaData {
    width: 60%;
    /* background-color: red; */
}

.dramaPage {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 2rem;
    margin: auto;
    padding: 3rem 1rem;
    align-items: start;
}

.dramaCard {
    display: flex;
    flex-direction: column;
    background-color: #111;
    border-radius: 10px;
    max-width: 300px;
    gap: 1rem;
}

.slideHero {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}


.slideShow {
    width: 100%;
    max-width: 700px;
}

.slideShow img {
    border-radius: 10px;
}

/* CSS for movies selected end */

/* CSS for footer starts */

footer{
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #1111119f;
}

/* CSS for footer ends */



/* CSS for making responsive starts */

/* for navbar */

@media (max-width:600px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        margin: 1rem 0;


    }

    .menuItems.open {
        display: flex;
    }

    .menuItems li a {
        margin: .2rem .5rem;
    }
}


@media screen and (min-width: 600px) {
    .menuItems li a {
        font-size: 1.6rem;
    }
    .basedata{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 700px) {
    nav h1 {
        font-size: 3.5rem;
    }

    .moviesPage {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .menuItems li a {
        font-size: 2rem;
    }

}

@media screen and (min-width: 1024px) {
    nav h1 {
        font-size: 4rem;
    }

    .moviesPage {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .selectedPage {
        flex-direction: row;
    }

    .poster {
        width: 50%;
    }
    .data {
        width: 50%;
    }
}

/* CSS for making responsive ends */